<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://nemo.inf.ufes.br/ontouml/ontoumlprime"
            class="br.ufes.inf.nemo.ontouml.PrimeOntoUML.PrimeOntoUMLPackage"
            genModel="model/ontoumlprime.xcore"/>
   </extension>
   <extension point="org.eclipse.ui.startup">
      <startup class="br.ufes.inf.nemo.ontouml.PrimeOntoUML.adapter.Startup"/>
   </extension>
</plugin>
